<a href="https://colab.research.google.com/github/data655/Data-Analysis-Portfolio/blob/main/Titanic_data_and_employee_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#load a csv/excel file from a google drive
from google.colab import drive
drive.mount('/content/drive') #mounts google drive to colab

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/files/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**[DATA INSPECTION AND BASIC EXPLORATION](https://)**

In [ ]:
#inspecting data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.shape

(891, 12)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
#Extracting the 'AGE' column to inspect its specific columns
age = df['Age']
print(age.head()) #displays the first five values
type(age) #shows the type of the extracted data
age.mean() #calculate the average age of the passengers

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

29.69911764705882

[**DATA MANIPULATIION AND FILTERING**](https://)


Overview: Data manipulation involves selecting, filtering, and modifying the data based on specific criteria. This step is crucial for preparing the data for analysis.

Key Activities:
**bold text**
1. Selecting specific columns for further analysis.
2. Filtering rows based on conditions (e.g., gender, age).
3. Creating new columns based on existing data.

In [ ]:
#select multiple columns
multiple_columns = df[['Age','Name']]
multiple_columns.head()

    Age                                               Name
0  22.0                            Braund, Mr. Owen Harris
1  38.0  Cumings, Mrs. John Bradley (Florence Briggs Th...
2  26.0                             Heikkinen, Miss. Laina
3  35.0       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4  35.0                           Allen, Mr. William Henry

In [ ]:
#selecting rows by index position using iloc
df.iloc[:5, :4]

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"

In [ ]:
#selecting specific rows and columns using loc
df.loc[[0, 7], ['Name', 'Ticket']] #retrieves name and ticket column for specific rows

                             Name     Ticket
0         Braund, Mr. Owen Harris  A/5 21171
7  Palsson, Master. Gosta Leonard     349909

In [ ]:
df.loc[0:3, 'Name':'Parch']

,Name,Sex,Age,SibSp,Parch
0,"Braund, Mr. Owen Harris",male,22.0,1,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0
2,"Heikkinen, Miss. Laina",female,26.0,0,0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0

[**Data searching and filtering**](https://)

Overview: Filtering data is essential for isolating specific subsets of the dataset that meet certain criteria. This enables targeted analysis of relevant data.

**Key Activities:**

* Applying conditions to filter data (e.g., male passengers over 30).

* Counting occurrences of categorical variables (e.g., gender distribution).

In [ ]:
#select all male passengers with age > 30
select_male_30 = df[(df['Sex'] == 'male') & (df['Age'] > 30)]
select_male_30.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S

In [ ]:
#how do we filter and count categories withinn a column
#filter females who survived
female_survivors = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]
female_survivors.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

**[DATA CONSOLIDATION](https://)**

Overview: Data consolidation involves combining existing data in new ways to create more comprehensive views of the data. This step can enhance data understanding and insights.

Key Activities:

1. Creating new columns by combining existing ones.
2. Consolidating information to provide more context (e.g., combining names and ticket numbers).

In [ ]:
df['Name_Ticket'] = df['Name'] + "("+ df['Ticket'] +")"
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_Ticket
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Braund, Mr. Owen Harris(A/5 21171)"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Heikkinen, Miss. Laina(STON/O2. 3101282)"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)(1..."
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Allen, Mr. William Henry(373450)"

[**Data Sorting**](https://)

Overview: Sorting data helps in organizing the dataset in a meaningful way, allowing for easier analysis and interpretation of results.

Key Activities:

1. Sorting the dataset by one or more columns (e.g., age, fare).
2. Analyzing the sorted data to identify patterns or trends.

In [ ]:
#sort data by 'age' in ascending order
df_sorted_by_age = df.sort_values(by='Age', ascending=True)
df_sorted_by_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_Ticket
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,"Thomas, Master. Assad Alexander(2625)"
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,"Hamalainen, Master. Viljo(250649)"
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,"Baclini, Miss. Eugenie(2666)"
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,"Baclini, Miss. Helene Barbara(2666)"
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,"Caldwell, Master. Alden Gates(248738)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,"Razi, Mr. Raihed(2629)"
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,"Sage, Miss. Dorothy Edith ""Dolly""(CA. 2343)"
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,"van Melkebeke, Mr. Philemon(345777)"
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,"Laleff, Mr. Kristo(349217)"
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"Johnston, Miss. Catherine Helen ""Carrie""(W./C...."

In [ ]:
#sort data by multiple columns (age,pclass)
df_sorted_by_age_pclass = df.sort_values(by=['Pclass','Age'])
df_sorted_by_age_pclass.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_Ticket
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,"Allison, Master. Hudson Trevor(113781)"
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,"Allison, Miss. Helen Loraine(113781)"
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,"Dodge, Master. Washington(33638)"
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S,"Carter, Master. William Thornton II(113760)"
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S,"Carter, Miss. Lucile Polk(113760)"

[**Grouping Data**](https://)

Overview: Grouping data allows analysts to aggregate and summarize data based on specific criteria.

This step is crucial for understanding relationships within the data.

**Key Activities:**

1. Grouping the dataset by one or more columns.
2. Calculating aggregate statistics (e.g., mean, sum) for each group.

In [ ]:
#Group by 'Pclass' and calculate the average fare for each class
class_fare_avg = df.groupby('Pclass')['Fare'].mean()
class_fare_avg

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [ ]:
#Group by 'Sex' and get the total number of survivors in each group
sex_survived = df.groupby('Sex')['Survived'].sum()
sex_survived

Sex
female    233
male      109
Name: Survived, dtype: int64

In [ ]:
#Group by multiple columns: 'pclass and Sex' then claculate the average age
class_sex_age_avg = df.groupby(['Pclass','Sex'])['Age'].mean()
class_sex_age_avg

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

[**Aggregation and Descriptive Statistics**](https://)

Overview: Aggregation involves summarizing data to provide a high-level view of the dataset. This step typically includes calculating descriptive statistics.

Key Activities:

* Using pivot tables to summarize data.
* Calculating averages, counts, or other summary statistics for different segments of data.

In [ ]:
#How can we calculate survival rates and averages for different groups
#calculating survival rate by class and gender

survival_rate = df.pivot_table(values='Survived', index='Pclass', columns='Sex', aggfunc='mean')
survival_rate

Sex       female      male
Pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

**Please do not execute or run the cells in this section, as it is intended solely for explaining the `pivot_table` function. We are working with a different dataset, so when you receive this notebook link, kindly skip this section and proceed directly to the Data Cleaning section.**

In [ ]:
# Sample data with categories to
data = {
    'Product': ['A', 'A', 'B', 'B', 'C', 'C', 'A'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South', 'North'],
    'Sales': [100, 200, 150, 300, 250, 400, 150],
    'Quantity': [1, 2, 1, 3, 2, 4, 2]
}

In [ ]:
df = pd.DataFrame(data)
df

  Product Region  Sales  Quantity
0       A  North    100         1
1       A  South    200         2
2       B  North    150         1
3       B  South    300         3
4       C  North    250         2
5       C  South    400         4
6       A  North    150         2

In [ ]:
#CREATE A BASIC PIVOT TABLE
pivot_basic = df.pivot_table(values='Sales', index='Product',columns='Region', aggfunc=['mean','sum'])
pivot_basic

          mean          sum
Region   North  South North South
Product
A        125.0  200.0   250   200
B        150.0  300.0   150   300
C        250.0  400.0   250   400

[**Data Cleaning**](https://)

Overview: Data cleaning is a critical step in data analysis, ensuring that the dataset is accurate and ready for analysis. This includes handling missing values and removing duplicates.

Key Activities:

1. Identifying and addressing missing values.
2. Removing duplicate entries that may skew analysis.

In [ ]:
#check for missing values across colums
#isna() isnull()
#check missing values accross columns
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
#removing rows with missing values #this method is general
df.dropna(axis=0)

In [ ]:
df.fillna(0)

In [ ]:
#filling the missing values with the mean for numeric columns ie age, fare etc
#preferred method for removing rows with missing values
df3 = df.fillna(df.mean(numeric_only=True))
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
df3.isna().any() #check on the missing values on dataframe df3

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
#filling the missing values with the most frequent values (MODE) for categorical columns ie string columns
df4 = df.fillna(df3.mode().iloc[0])
df4

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,B96 B98,Q

In [ ]:
df4.isna().any() #to check on the missing values for new dataframe df4

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [ ]:
df4 #reading the dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,B96 B98,Q

In [ ]:
#handling duplicates
df4.duplicated().any() #check if duplicate is present

False

In [ ]:
#removing duplicate rows
df4.drop_duplicates(inplace=True)

[**Additional Data Manipulation**](https://)

Overview: In addition to the previous steps, additional data manipulation can enhance the dataset for analysis. This may involve transforming data formats or extracting specific information.

**Key Activities:**

1. Extracting and modifying specific columns.
2. Applying custom functions to manipulate data further.

In [ ]:
#step 1: extract surname and update the name column
df4['Surname'] = df4['Name'].apply(lambda x : x.split(',')[0].strip())
df4

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S,Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,B96 B98,S,Montvila
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,Graham
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B96 B98,S,Johnston
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,Behr
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,B96 B98,Q,Dooley

In [ ]:
#step2: update name column to contain only firstname and title
df4['Name'] = df4['Name'].apply(lambda x : x.split(',')[1].strip())
df4

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname
0,1,0,3,Mr. Owen Harris,male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S,Braund
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer),female,38.000000,1,0,PC 17599,71.2833,C85,C,Cumings
2,3,1,3,Miss. Laina,female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S,Heikkinen
3,4,1,1,Mrs. Jacques Heath (Lily May Peel),female,35.000000,1,0,113803,53.1000,C123,S,Futrelle
4,5,0,3,Mr. William Henry,male,35.000000,0,0,373450,8.0500,B96 B98,S,Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Rev. Juozas,male,27.000000,0,0,211536,13.0000,B96 B98,S,Montvila
887,888,1,1,Miss. Margaret Edith,female,19.000000,0,0,112053,30.0000,B42,S,Graham
888,889,0,3,"Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B96 B98,S,Johnston
889,890,1,1,Mr. Karl Howell,male,26.000000,0,0,111369,30.0000,C148,C,Behr
890,891,0,3,Mr. Patrick,male,32.000000,0,0,370376,7.7500,B96 B98,Q,Dooley

In [ ]:
#reordering columns
cols = df4.columns.tolist() #to check the columns in your dataframe
cols.insert(4, cols.pop(cols.index('Surname')))
df = df4[cols]
df.head()

,PassengerId,Survived,Pclass,Name,Surname,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Mr. Owen Harris,Braund,male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,Mrs. John Bradley (Florence Briggs Thayer),Cumings,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Miss. Laina,Heikkinen,female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,Mrs. Jacques Heath (Lily May Peel),Futrelle,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Mr. William Henry,Allen,male,35.0,0,0,373450,8.0500,B96 B98,S

In [ ]:
#export the cleaned DataFrame to a csv file
df.to_csv('cleaned_titanicDataset.csv', index=False)

[**Summary of Data Analysis Steps**](https://)

This structured approach to data analysis using the Titanic dataset covers essential steps from importing and inspecting data to cleaning and manipulating it for insightful analysis. Each step is designed to build upon the previous one, ensuring a comprehensive understanding of the dataset and allowing for effective exploration of the underlying patterns and relationships. Each code snippet serves a specific purpose, addressing critical questions that guide the data analysis process.


The entire set of processes above can be collectively referred to as Data Preprocessing.

***Definition:***
Data Preprocessing is the process of transforming raw data into a clean, structured, and optimized format, preparing it for analysis or modeling. This involves several steps, including loading data, cleaning (handling missing values and duplicates), transforming data (renaming columns, type conversion, and categorization), and optimizing for efficiency. These steps ensure data quality, consistency, and readiness, ultimately enhancing the accuracy and effectiveness of analysis or machine learning tasks.

In [ ]:
df4

# **EMPLOYEE DATA ANALYSIS**:::

**Step 1: Data Import and Initial Inspection**

Purpose
To load the dataset and inspect its structure for understanding.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving employees.csv to employees (1).csv

In [ ]:
df_emp = pd.read_csv('employees.csv')
df_emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

**Step 2: Additional Inspection**

Purpose
To assess the dataset’s shape, column names, and specific column values.

In [ ]:
df_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [ ]:
df_emp.describe()

              Salary      Bonus %
count    1000.000000  1000.000000
mean    90662.181000    10.207555
std     32923.693342     5.528481
min     35013.000000     1.015000
25%     62613.000000     5.401750
50%     90428.000000     9.838500
75%    118740.250000    14.838000
max    149908.000000    19.944000

In [ ]:
df_emp.shape

(1000, 8)

In [ ]:
df_emp['Gender']

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object

**Step 3: Data Inspection and Basic Exploration**

Purpose
To identify unique values and missing values within specific columns.

In [ ]:
#check the distribution values in the gender column
df_emp['Gender'].value_counts()

Gender
Female    431
Male      424
Name: count, dtype: int64

In [ ]:
#check missing values in a specific column(Gender)
df_emp.isna().sum()

First Name            67
Gender               145
Start Date             0
Last Login Time        0
Salary                 0
Bonus %                0
Senior Management     67
Team                  43
dtype: int64

In [ ]:
df_emp.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

**Step 4: Data Manipulation and Filtering**

Purpose
To clean and standardize the dataset by renaming columns and adding new columns.

In [ ]:
df_emp.rename(
    {
        'First Name': 'First_Name', 'Start Date':'Start_Date', 'Last Login Time':'Last_Login_Time',
       'Bonus %':'Bonus', 'Senior Management':'Senior_Management'}, axis = 1, inplace=True
)
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [ ]:
# Creating a new column 'Bonus2' with rounded values from 'Bonus'
df_emp['Bonus2'] = df_emp.Bonus.round()
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0
...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0

In [ ]:
# Adding a column with random integer values for testing purposes
import numpy as np
df_emp['Random'] = pd.Series(np.random.randint(0, 10, len(df_emp)))
df_emp.head()

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Random
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,9
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,4
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,6

**Step 5: Data Search and Filtering**

Purpose
To filter the dataset based on specific criteria.

In [ ]:
# To filter specific rows based on column criteria.
# Filtering dataset for male employees
male_employees = df_emp[df_emp['Gender'] == 'Male']
male_employees.head()

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal,10.0

**Step 6: Data Consolidation**

Purpose
To merge or concatenate data from multiple DataFrames

In [ ]:
# Selecting the first two rows for duplication
df2 = df_emp.iloc[:4]
df2

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0

**Step 7: Data Sorting**

Purpose
To order the dataset based on specific columns for clearer insights.

In [ ]:
# Sorting the DataFrame by salary in descending order
df_emp_sorted = df_emp.sort_values(by='Salary', ascending=False)
df_emp_sorted.head()

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Random
644,Katherine,Female,8/13/1996,12:21 AM,149908,18.912,False,Finance,19.0,3
429,Rose,Female,5/28/2015,8:40 AM,149903,5.630,False,Human Resources,6.0,2
828,Cynthia,Female,7/12/2006,8:55 AM,149684,7.864,False,Product,8.0,0
186,NaN,Female,2/23/2005,9:50 PM,149654,1.825,NaN,Sales,2.0,4
160,Kathy,Female,3/18/2000,7:26 PM,149563,16.991,True,Finance,17.0,1

**Step 8: Grouping Data**

Purpose
To aggregate data for summaries based on certain criteria.

In [ ]:
# Grouping by 'Gender' to calculate average salary
gender_salary_avg = df_emp.groupby('Gender')['Salary'].mean()
gender_salary_avg

Gender
Female    90023.923434
Male      91180.669811
Name: Salary, dtype: float64

**Step 9: Aggregation and Descriptive Statistics**

Purpose
To compute summary statistics to understand the distribution of data.

In [ ]:
# Summary statistics for all numerical columns
df_emp.describe()

              Salary        Bonus      Bonus2
count    1000.000000  1000.000000  1000.00000
mean    90662.181000    10.207555    10.20300
std     32923.693342     5.528481     5.54008
min     35013.000000     1.015000     1.00000
25%     62613.000000     5.401750     5.00000
50%     90428.000000     9.838500    10.00000
75%    118740.250000    14.838000    15.00000
max    149908.000000    19.944000    20.00000

**Step 10: Data Cleaning**

Purpose
To address missing values and ensure data integrity.

In [ ]:
# Checking for missing values in each column
missing_counts = df_emp.isna().sum()
print("Missing values per column:")
print(missing_counts)

Missing values per column:
First_Name            67
Gender               145
Start_Date             0
Last_Login_Time        0
Salary                 0
Bonus                  0
Senior_Management     67
Team                  43
Bonus2                 0
dtype: int64

In [ ]:
# Fill missing values for numeric columns with the column mean
df_emp.fillna(df_emp.mean(numeric_only=True), inplace=True)
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0
...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0

In [ ]:
# Fill missing values for categorical columns with the column mode
for column in df_emp.select_dtypes(include=['object', 'category']).columns:
    df_emp[column].fillna(df_emp[column].mode()[0], inplace=True)
df_emp

<ipython-input-64-de21557c76ac>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_emp[column].fillna(df_emp[column].mode()[0], inplace=True)
<ipython-input-64-de21557c76ac>:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_emp[column].fillna(df_emp[column].mode()[0], inplace=True)

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,Client Services,4.0
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0
...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0

In [ ]:
# Verify that no missing values remain
print("Missing values after filling:")
print(df_emp.isna().sum())

Missing values after filling:
First_Name           0
Gender               0
Start_Date           0
Last_Login_Time      0
Salary               0
Bonus                0
Senior_Management    0
Team                 0
Bonus2               0
dtype: int64

**Step 11: Additional Data Manipulation**

Purpose
To refine the dataset further with new categorizations and transformations.

In [ ]:
# Check for duplicate rows
duplicate_rows = df_emp.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [ ]:
# Verify removal of duplicates
df_emp.shape  # This should reflect the reduced row count if duplicates were removed

(1000, 9)

In [ ]:
#convert the Gender column to categorical value and this will create a new column 'Gender2'
df_emp['Gender2'] = pd.Categorical(df_emp.Gender)
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Gender2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,Male
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,Client Services,4.0,Male
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,Female
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,Male
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,Male
...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0,Female
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0,Male
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,Male
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,Male
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,Male

In [ ]:
#why categorical- comparing memeory usage between the two columns gender and gender2 after converting too categotical
df_emp.memory_usage()

Index                 128
First_Name           8000
Gender               8000
Start_Date           8000
Last_Login_Time      8000
Salary               8000
Bonus                8000
Senior_Management    1000
Team                 8000
Bonus2               8000
Gender2              1124
dtype: int64

In [ ]:
#discretize the column into 5 categories
df_emp.Salary.min()

35013

In [ ]:
df_emp.Salary.max()

149908

In [ ]:
##discretize the salary column into 5 categories
#converting string data to categorical data in order to reduce memory usage
df_emp['Cat_Salary'] = pd.cut(df_emp.Salary, bins=[35000,50000,75000,100000,125000,150000], labels=['Very low','Low','Medium','High','Very High'])
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Gender2,Cat_Salary
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,Male,Medium
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,Client Services,4.0,Male,Low
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,Female,Very High
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,Male,Very High
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,Male,High
...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0,Female,Very High
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0,Male,Very low
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,Male,Medium
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,Male,Low
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,Male,Very High

In [ ]:
df_emp.dtypes

First_Name             object
Gender                 object
Start_Date             object
Last_Login_Time        object
Salary                  int64
Bonus                 float64
Senior_Management        bool
Team                   object
Bonus2                float64
Gender2              category
Cat_Salary           category
dtype: object

**Step 12: Data Conversion and Date Handling**

Purpose:
To convert date strings into proper datetime format and extract components for easier analysis.

In [ ]:
# Convert the 'Start_Date' column from object to datetime format
df_emp['Start_Date'] = pd.to_datetime(df_emp['Start_Date'])
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Gender2,Cat_Salary
0,Douglas,Male,1993-08-06,12:42 PM,97308,6.945,True,Marketing,7.0,Male,Medium
1,Thomas,Male,1996-03-31,6:53 AM,61933,4.170,True,Client Services,4.0,Male,Low
2,Maria,Female,1993-04-23,11:17 AM,130590,11.858,False,Finance,12.0,Female,Very High
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance,9.0,Male,Very High
4,Larry,Male,1998-01-24,4:47 PM,101004,1.389,True,Client Services,1.0,Male,High
...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,2014-11-23,6:09 AM,132483,16.655,False,Distribution,17.0,Female,Very High
996,Phillip,Male,1984-01-31,6:30 AM,42392,19.675,False,Finance,20.0,Male,Very low
997,Russell,Male,2013-05-20,12:39 PM,96914,1.421,False,Product,1.0,Male,Medium
998,Larry,Male,2013-04-20,4:45 PM,60500,11.985,False,Business Development,12.0,Male,Low
999,Albert,Male,2012-05-15,6:24 PM,129949,10.169,True,Sales,10.0,Male,Very High

In [ ]:
# Specify the date format if it's not automatically recognized
df_emp['Start_Date'] = pd.to_datetime(df_emp['Start_Date'], format='%d-%m-%Y')
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Random,Gender2,Cat_Salary
0,Douglas,Male,1993-08-06,12:42 PM,97308,6.945,True,Marketing,7.0,9,Male,Medium
1,Thomas,Male,1996-03-31,6:53 AM,61933,4.170,True,Client Services,4.0,3,Male,Low
2,Maria,Female,1993-04-23,11:17 AM,130590,11.858,False,Finance,12.0,0,Female,Very High
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance,9.0,4,Male,Very High
4,Larry,Male,1998-01-24,4:47 PM,101004,1.389,True,Client Services,1.0,6,Male,High
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,2014-11-23,6:09 AM,132483,16.655,False,Distribution,17.0,6,Female,Very High
996,Phillip,Male,1984-01-31,6:30 AM,42392,19.675,False,Finance,20.0,6,Male,Very low
997,Russell,Male,2013-05-20,12:39 PM,96914,1.421,False,Product,1.0,7,Male,Medium
998,Larry,Male,2013-04-20,4:45 PM,60500,11.985,False,Business Development,12.0,2,Male,Low
999,Albert,Male,2012-05-15,6:24 PM,129949,10.169,True,Sales,10.0,3,Male,Very High

In [ ]:
# Verify the column's data type after conversion
#df_emp['Start_Date'].dtype: Checks the data type of the Start_Date column.
#Purpose: Confirms that the conversion to datetime was successful.
df_emp['Start_Date'].dtype  # Should output: dtype('<M8[ns]')

dtype('<M8[ns]')

In [ ]:
# Extract year, month, and day from 'Start_Date'
df_emp['Start_Year'] = df_emp['Start_Date'].dt.year
df_emp['Start_Month'] = df_emp['Start_Date'].dt.month
df_emp['Start_Day'] = df_emp['Start_Date'].dt.day
df_emp

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Gender2,Cat_Salary,Start_Year,Start_Month,Start_Day
0,Douglas,Male,1993-08-06,12:42 PM,97308,6.945,True,Marketing,7.0,Male,Medium,1993,8,6
1,Thomas,Male,1996-03-31,6:53 AM,61933,4.170,True,Client Services,4.0,Male,Low,1996,3,31
2,Maria,Female,1993-04-23,11:17 AM,130590,11.858,False,Finance,12.0,Female,Very High,1993,4,23
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance,9.0,Male,Very High,2005,3,4
4,Larry,Male,1998-01-24,4:47 PM,101004,1.389,True,Client Services,1.0,Male,High,1998,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,Female,2014-11-23,6:09 AM,132483,16.655,False,Distribution,17.0,Female,Very High,2014,11,23
996,Phillip,Male,1984-01-31,6:30 AM,42392,19.675,False,Finance,20.0,Male,Very low,1984,1,31
997,Russell,Male,2013-05-20,12:39 PM,96914,1.421,False,Product,1.0,Male,Medium,2013,5,20
998,Larry,Male,2013-04-20,4:45 PM,60500,11.985,False,Business Development,12.0,Male,Low,2013,4,20
999,Albert,Male,2012-05-15,6:24 PM,129949,10.169,True,Sales,10.0,Male,Very High,2012,5,15

What is the average salary of employees grouped by their job titles and gender?

In [ ]:
# Display DataFrame with new date-specific columns
df_emp.head()

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,Gender2,Cat_Salary,Start_Year,Start_Month,Start_Day
0,Douglas,Male,1993-08-06,12:42 PM,97308,6.945,True,Marketing,7.0,Male,Medium,1993,8,6
1,Thomas,Male,1996-03-31,6:53 AM,61933,4.170,True,Client Services,4.0,Male,Low,1996,3,31
2,Maria,Female,1993-04-23,11:17 AM,130590,11.858,False,Finance,12.0,Female,Very High,1993,4,23
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance,9.0,Male,Very High,2005,3,4
4,Larry,Male,1998-01-24,4:47 PM,101004,1.389,True,Client Services,1.0,Male,High,1998,1,24


**The NumPy library **

is one of the foundational libraries for data science and data analysis in Python. It provides powerful tools for working with large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays efficiently.

Key Features of NumPy


*   Efficient Array Storage: NumPy arrays (ndarrays) are more memory-efficient and provide faster data processing than Python lists.
*   Mathematical Operations: NumPy provides built-in functions for mathematical operations, which are faster than operations on lists.
* Broadcasting: Allows operations on arrays of different shapes, which makes it possible to perform element-wise operations without explicit loops.
*Vectorization: NumPy’s internal implementation allows you to perform operations on entire arrays at once without loops, making computations faster and more concise.

NumPy includes built-in functions for many common operations in data analysis:

* Mean: np.mean(array) calculates the average.

* Median: np.median(array) finds the median value.

* Standard Deviation: np.std(array) measures the spread of the data.
* Matrix Multiplication: np.dot(array1, array2) performs matrix multiplication.
* Reshaping: array.reshape(new_shape) changes the shape of an array without modifying the data.

Example of Calculating Mean and Standard Deviation

In [ ]:
import numpy as np
#a list with numbers
regular_list = [1,2,3,4,5]
#creating a numpy array from the list
np_array = np.array(regular_list)
print(np_array)

[1 2 3 4 5]

In [ ]:
#array with student scores
scores = np.array([70,85,89,78,65])
#calculate statistics
average_score = np.mean(scores)
highest_score = np.max(scores)
score_variance = np.std(scores)

print(average_score)
print(highest_score)
print(score_variance)

77.4
89
8.957678270623477